/* button style start */
.buttonGreen{
    padding: 12px 16px;
    height: 48px;
    background: #10B981;
    border-radius: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}
/* button style end */