* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.main{

}

/*Global start*/
.divider{
    width: 32px;
    height: 1px;
    background: #F59E0B;
    margin: 8px auto;
    margin-top: 500px; /*to be deleted*/
}

.section-title-small{    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: capitalize;
    color: #F59E0B;
    margin: 8px auto;
}

.section-title-large{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #1B1C57;
    margin: 8px auto;
}
/*Global end*/

/*NavBar start*/
.navBar{
    position: absolute;
    top: 46px;
    height: 46px;
    width: 100%;
    max-width: 1200px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 1px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.logo{
    height: 46px;
    display: flex;
}

.logoPaint{
    width: 36px;
    height: 36px; 
    position: relative;
}

.logoPaint .logoPaintOrange{
    width: 32px;
    height: 32px;
    background: #F59E0B;
    border-radius: 4px 4px 24px 4px;
    position: absolute;
    top:0px;
    left: 0px;
}

.logoPaint .logoPaintGreen{
    width: 32px;
    height: 32px;
    background: #4BE4C9;
    border-radius: 4px 4px 24px 4px;
    position: absolute;
    top: 4px;
    left: 4px;
}

.logoText{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #1B1C57;
    align-self: center;
    margin-left: 12px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 56px;
}

.nav .navs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.nav .navs li{
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 34px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 32px;
    font-style: normal;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: #F0F3FD;
}

.nav .navs li span{
    transform: rotate(90deg);
    font-size: 2.3rem;
    font-weight: 250;
    margin-left: 10px;
}

.nav .signUp li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 107px;
    height: 46px;
    background: #D1FAE5;
    border-radius: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #047857;
}
/*NavBar end*/

/*Hero start*/
.hero{
    display: flex;
    height: 720px;
    margin-bottom: 60px;
    background: linear-gradient(135deg, rgba(130,255,232,0.4654236694677871) 0%, rgba(130,255,232,0.5494572829131652) 13%, rgba(255,255,255,0) 38%);
}

.hero .left{
    width: 50%;
    position: relative;
}
.hero .left .content{
    margin-top: 182px;
    margin-left: 120px;
    max-width: 496px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.hero .left .content .title{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-transform: capitalize;
    color: #1B1C57;
}

.hero .left .content .title span{
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1B1C57;
}

.hero .left .content .description{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #626687;
    opacity: 0.75;
}

.hero .left .content .searchBar{
    position: relative;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 4px 4px 24px;
    gap: 16px;
    height: 56px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E0E3EB;
    border-radius: 32px;
}

.hero .left .content .searchBar input{
    all:unset;
    width: 61%;
}

.hero .left .content .searchBar .btn{
    all:unset;
    cursor:pointer;
    position: relative;
    right: -16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;
    width: 17%;
    max-height: 100%;
    background: #10B981;
    border-radius: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-align:center;
    color: #FFFFFF;
}

.hero .left .content .searchBar .btn span{
    font-size: 2rem;
    font-weight: 225;
    line-height: 22px;
    position: relative;
    top: -4px;
}

.hero .left .content .partnership{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #888B97;
}

.hero .left .content .partners{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.hero .right{
    width: 50%;
    background: linear-gradient(16.74deg, #0C1537 -6.09%, rgba(12, 21, 55, 0) 32.63%), url("../public/imgs/heroHouse.jpg");
    border-radius: 0px 0px 0px 80px;
    position: relative;
    overflow-x: hidden;
}

.hero .right .statsScroll{
    position: relative;
    left: 0;
    padding-left: 48px;
    padding-right: 24px;
    top: 490px;
    width: 100%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}
.hero .right .statsScroll::-webkit-scrollbar {
    display: none;
}

.hero .right .stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 0px;
    gap: 16px;
    height: 104px;
    width: max-content;
}

.hero .right .redCorner{
    position: relative;
    top: 141px;
    left: 116px;
    width: 66.5px;
    height: 91.5px;
    border-left: 4px solid #EF4444;
    border-top: 4px solid #EF4444;
    border-top-left-radius: 6px;
}

.hero .right .blueCorner{
    position: absolute;
    top: 409px;
    right: 90px;
    width: 42.5px;
    height: 75px;
    border-right: 4px solid #3B82F6;
    border-top: 4px solid #3B82F6;
    border-top-right-radius: 6px;
}

.hero .right .yellowCorner{
    position: absolute;
    top: 209.5px;
    right: 99px;
    width: 39.5px;
    height: 97px;
    border-right: 4px solid #F59E0B;
    border-top: 4px solid #F59E0B;
    border-top-right-radius: 6px;
}
/*Hero end*/

/*Review start*/
.ReviewCards{
    margin: 25px 0px;
    display: flex;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

.ReviewCards::-webkit-scrollbar {
    display: none;
}

.indicators{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 50px;
}

.indicators .indicator-buttons{
    all: unset;
    width: 12px;
    height: 12px;
    background: #E0E3EB;
    border-radius: 50%;
    transition: background 0.5s;
}

.indicators .indicator-symbol-active{
    background: #3C4563;
}
/*Review end*/
