* {
    box-sizing: border-box;
}

body {
}

.main{

}

/*NavBar start*/
.navBar{
    width: 1200px;
    height: 46px;
    background-color: aqua;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 40px;
}

.logoPaint{
    margin-top: 5px; 
    position: relative;
}
.logoPaint .logoPaintOrange{
    width: 32px;
    height: 32px;
    background: #F59E0B;
    border-radius: 4px 4px 24px 4px;
    position: absolute;
}

.logoPaint .logoPaintGreen{
    width: 32px;
    height: 32px;
    background: #4BE4C9;
    border-radius: 4px 4px 24px 4px;
    position: absolute;
    top: 4px;
    left: 4px;
}

/*NavBar end*/

.divider{
    width: 32px;
    height: 1px;
    background: #F59E0B;
    margin: 8px auto;
    margin-top: 500px; /*to be deleted*/
}

.section-title-small{    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: capitalize;
    color: #F59E0B;
    margin: 8px auto;
}

.section-title-large{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #1B1C57;
    margin: 8px auto;
}

.ReviewCards{
    margin: 25px 0px;
    display: flex;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

.ReviewCards::-webkit-scrollbar {
    display: none;
}

.indicators{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.indicators .indicator-buttons{
    all: unset;
    width: 12px;
    height: 12px;
    background: #E0E3EB;
    border-radius: 50%;
    transition: background 0.5s;
}

.indicators .indicator-symbol-active{
    background: #3C4563;
}

