* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

.main{

}

/*Global start*/
h1, h2, h3, h4, h5, h6, p{
    margin: 0px;
}

.divider{
    width: 32px;
    height: 1px;
    background: #F59E0B;
    margin: 8px auto;
}

.section-title-small{    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: capitalize;
    color: #F59E0B;
    margin: 8px auto;
}

.section-title-large{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #1B1C57;
    margin: 8px auto;
}

a{
    all: unset;
    cursor: pointer;
}

ul{
    padding: 0px;
}

li{
    list-style: none;
}

.logo{
    height: 46px;
    display: flex;
}

.logoPaint{
    width: 36px;
    height: 36px; 
    position: relative;
}

.logoPaint .logoPaintOrange{
    width: 32px;
    height: 32px;
    background: #F59E0B;
    border-radius: 4px 4px 24px 4px;
    position: absolute;
    top:0px;
    left: 0px;
}

.logoPaint .logoPaintGreen{
    width: 32px;
    height: 32px;
    background: #4BE4C9;
    border-radius: 4px 4px 24px 4px;
    position: absolute;
    top: 4px;
    left: 4px;
}

.logoText{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #1B1C57;
    align-self: center;
    margin-left: 12px;
}
/*Global end*/
