.navBar{
    position: absolute;
    top: 46px;
    height: 46px;
    width: 83%;
    max-width: 100%;
    margin: 1px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 56px;
}

.nav .navs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.nav .navs li{
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 34px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 32px;
    font-style: normal;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: #F0F3FD;
}


.nav .navs li:hover{
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav .navs button{
    all: unset;
    cursor: pointer;
}

.nav .navs li span{
    transform: rotate(90deg);
    font-size: 2.3rem;
    font-weight: 250;
    margin-left: 10px;
    transition: 0.3s;
}

.nav .navs .active li span{
    transform: rotate(-90deg) translateY(-50%);
}

.nav .navs .menu{
    position: absolute;
    right: 140px;
    top: calc(100% + -50px);
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 32px;
    font-style: normal;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: #F0F3FD;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
}

.nav .navs .menu.active{
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
    background: rgba(255, 255, 255, 0.6);
}

.nav .navs .menu .propertyMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav .navs .menu .propertyMenu li{
    background: #b8b8b888;
    border: 1px solid #a2a4a99f;
    color: #55565cab
}

.nav .navs .menu .propertyMenu li:hover{
    background: #9d9d9d;
    border: 1px solid #b5b6b9;
    color: #45464a
}

.nav .signUp li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 107px;
    height: 46px;
    background: #D1FAE5;
    border-radius: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #047857;
    transition: 0.2s;
}

.nav .signUp li:hover{
    background: #10B981;
    color: #ffffff;
}

.nav .signOut li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 107px;
    height: 46px;
    background: #fad1d1;
    border-radius: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #780404;
    transition: 0.2s;
}

.nav .signOut li:hover{
    background: #b91010;
    color: #ffffff;
}