.section2{
    margin: 120px 0px;
    position: relative;
}
.section2 .sectionHeader{
    padding-left: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 138px;
}
.section2 .title{
    width: 294px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.divider{
    width: 32px;
    height: 1px;
    background: #F59E0B;
}

.section2 .title .smallTitle{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: #F59E0B;
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
}

.section2 .title .smallTitle p{
    margin: 0px;
}

.section2 .title .largeTitle{
    margin: 0px;
    align-self: flex-end;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-transform: capitalize;
    color: #1B1C57;
}

.section2 .navs{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    max-width: 493px;
    height: 52px;
}

.navs button{
    padding: 12px 24px;
    height: 52px;
    border: 1px solid #E0E3EB;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #888B97;
}

.navs button li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.navs button:hover{
    border: 1px solid #e0e3eb;
    color: #64666e;
    background-color: #e8e8e8;
}

.navs .acvtiveNav{
    background: #D1FAE5;
    color: #10B981;
}

.navs .acvtiveNav:hover{
    background: #a9fbd1;
    color: #04bc7f;
}

.section2 .sectionHeader .buttons{
    display: flex;
    gap: 8px;
}

.section2 .sectionHeader .buttons button{
    width: 60px;
    height: 52px;
    background: #E0E3EB;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.section2 .sectionHeader .buttons button:active {
    transform: scale(0.9);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.section2 .sectionHeader .buttons button:hover{
    background: #cacdd1;
}

.section2 .sectionHeader .buttons .arrowRight{
    background: #10B981;
    color: #E0E3EB;
}

.section2 .sectionHeader .buttons .arrowRight:hover{
    background: #0ad692;
    color: #ffffff;
}

.section2 .sectionHeader .buttons button:focus {
    outline: none;
}

.section2 .scrollContainer{
    padding-left: 160px;
    overflow:auto;
}
.section2 .scrollContainer::-webkit-scrollbar {
    display: none;
}
.section2 .houseCards{
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    width: fit-content;
}
