.tip{
    width: 572px;
    display: flex;
    justify-content:flex-start;
    align-items: stretch;
    gap: 32px;
    transition: 0.3s;
}

.tip:hover{
    transform: scale(1.1);
}

.tip .imgDiv{
    border-radius: 16px;
}

.tip .imgDiv img{
    border-radius: 16px;
    object-fit: cover;
}

.tip .right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 340px;
}

.tip .right .author{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.tip .right .author img{
    border-radius: 50%;
    filter: drop-shadow(0px 9px 32px rgba(89, 92, 219, 0.1));
}

.tip .right .author .authorName{
    font-size: 14px;
    color: #3C4563;
}

.tip .right .title{
    font-size: 18px;
    text-transform: capitalize;
    color: #1B1C57;
}

.tip .right .durationAndDate{
    width: 340px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #888B97;
}

.tip .right .durationAndDate .clock{
    display: block;
    font-size: 24px;
    margin-right: 12px;
}
