.tour{
    margin: 120px auto;
    width: 1200px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 148px;
}

.tour .left{
    width: 524px;
}

.title{
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.divider{
    width: 32px;
    height: 1px;
    background: #F59E0B;
    margin-top: 9px;
}

.title .smallTitleText{
    margin: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: #F59E0B;
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
}


.title .largeTitle{
    margin: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-transform: capitalize;
    color: #1B1C57;
}

.tour .infos{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
}

.tour .infos .description{
    width: 413px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #626687;
    opacity: 0.75;
}


.tour .infos .detail h6{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #1B1C57;
    opacity: 0.75;
    margin-bottom: 16px;
}

.tour .infos .detail .details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 16px;
    column-gap: 53px;
}

.tour .infos .detail .details .d1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #888B97;
    transition: 0.3s;
}

.tour .infos .detail .details .d1:hover{
    transform: translateX(1rem);
}

.tour .infos .detail .details .d1 p{
    color: #3C4563;
}

.tour .infos .greyDivider{
    width: 440px;
    height: 2px;
    background: #F0F3FD;
    margin: 16px 0px;
}

.tour .infos .contact{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    max-width: 440px;
}

.tour .infos .contact .contactPic{
    border-radius: 50%;
}

.tour .infos .contact .contactText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.tour .infos .contact .contactText p{
    margin: 0px;
}

.tour .infos .contact .contactText .name{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #0E1735;
}

.tour .infos .contact .contactText .job{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #888B97;
}

.tour .infos .contact .contactButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;

    background: #10B981;
    border-radius: 32px;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;

    margin-left: auto;
}

.tour .infos .contact .contactButton:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.tour .infos .contact .contactButton:hover {
    background: #08c888;
}

.tour .media{
    width: 528px;
    height: 459px;
    position: relative;
}

.tour .media img{
    border-radius: 4px;
}

.tour .media .imgs{
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 12px;
    z-index: 1;
}

.tour .media .imgs img{
    transition: 0.3s;
}

.tour .media .imgs img:hover{
    transition: 0.3s;
    transform: scale(1.1) translateX(-25px);
}

.tour .media .video{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 488px;
    height:416px;
    transition: 0.3s;
}

.tour .media .video iframe{
    transition: 0.3s;
}

.tour .media .video:hover{
    z-index: 2;
    width: 813px;
    height:457px;
}

.tour .media .video:hover iframe{
    width: 813px;
    height:457px;
}

.tour .media .video .videoButton{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2.5px);
    border: none;
    border-radius: 50%;
    cursor: pointer;

    color: white;
    font-size: 2rem;

    display: grid;
    place-items: center;
}

.tour .media .video .videoButton:hover{
    background: rgba(255, 255, 255, 0.6);
}

